<div id="comments-list">
    {{#commentsDtos}}
      <div class="card m-2" id ="comment-{{id}}">
          <div class="card-header">
              {{nickname}}
          </div>
          <div class="card-body">
              {{body}}
          </div>
      </div>
    {{/commentsDtos}}
</div>